*{
    margin: 0px;
    padding: 0px;
   font-family: sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-left: 50px;
}
.nav-items{
  /* border: solid orange;    */
}
.nav-item{
    font-size:x-large;
    font-weight: 700;
    display: inline;
    margin-left: 40px;
    padding: 20px;
    
}
.nav-item:hover{
    color: #fe7755;  
}
.nav-itemactive-item{
    margin-top: 50px;
}
 .intro-section{
 
  display: flex;

 }
 .left-section{

  margin-top: 100px;
  margin-left: 25px;

 }
 .left-section h3{
    font-size: 50px;
    margin-left: 25px;
 }
 .left-section h1{
   margin-left: 25px;
    font-size: 80px;
    font-family: cursive;
 }
 
 .sub-headlines{
 margin-left: 100px;

 }
 .sub-headline img{
  background-color:rgb(254,94,53);
  border-radius: 50%;
 }
 .sub-headline{
    font-size: larger;
  font-weight: 900;
  margin-top: 30px;
 }
 .text{
    font-weight: 300;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 150px;
 }
 .action-btns{
    /* border: solid black; */
   margin-left:10px;
   margin-right: 100px;


 }

 .action-btn{
   /* border: solid rgb(52, 10, 221); */
    margin-left: 25px;
    margin-bottom: 100px;
    margin-top: 25px;
    background-color: rgb(254,94,53);
     height: 55px;
    width: 170px;
    /* height: 70px;
    width: 200px; */
    border-radius: 30px;
 }
 .right-section{
   
    margin-bottom:20px;
 }
 .discount-content{
    position: absolute;
    color: white;
    font-weight: 500;
    margin-top: 340px;
    margin-left:30px;
 }
 .discount{
    position: absolute;
    height: 120px;
    margin-top: 300px;
    margin-right: 00px;
 }
 .headphone-div{
   /* border: solid rgb(11, 243, 54); */
   display: flex;
   margin-top:0px;
   height: 500px;
   margin-right: 100px;
 }
 .dots{
   /* border: solid rgb(195, 7, 247); */
 display: flex;
 margin-left: 120px;
 margin-right: 230px;
 /* margin-top: -150px; */
 justify-content: space-evenly;

 }
 .dotyellow-dot{
    border-radius: 50%;
    margin-left: 20px;
    height:25px;
    width: 25px;
    background-color: rgb(212, 226, 18); 
    /* padding left:10px; */
 }
 .dottomato-dot{
    border-radius: 50%;
    height:25px;
    width: 25px;
    background-color:rgb(254,94,53);
 }
 .dotblack-dot 
 {
    border-radius: 50%;
    height:25px;
    width: 25px;
    background-color: black;
 }
 .action-btnns{
   margin-left: 170px;
   margin-bottom: 100px;
   margin-top: 60px;
   background-color: rgb(254,94,53);
   height: 55px;
   width: 170px;
   border-radius: 30px;
 }



    
